<header class="sans-serif">
  <div id="drake-banner" class="cover bg-left bg-center-l" style="background-image: url(/assets/images/drake-banner.webp)">
    <div class="bg-black-80">
      <nav class="dt w-100 mw9 center"> 
        <div class="dtc w2 v-mid pa3">
          {{!-- <a href="/" class="dib w2 h2 pa1 ba b--white-90 grow-large border-box">
            <svg class="link white-90 hover-white" data-icon="skull" viewBox="0 0 32 32" style="fill:currentcolor"><title>skull icon</title><path d="M16 0 C6 0 2 4 2 14 L2 22 L6 24 L6 30 L26 30 L26 24 L30 22 L30 14 C30 4 26 0 16 0 M9 12 A4.5 4.5 0 0 1 9 21 A4.5 4.5 0 0 1 9 12 M23 12 A4.5 4.5 0 0 1 23 21 A4.5 4.5 0 0 1 23 12"></path></svg>
          </a> --}}
          <a href="/" class="dib w3 h3  b--white-90 grow-large border-box">
            <img src="/assets/images/mongo-icon.png" id="mongo-icon">
          </a>
        </div>
        <div class="dtc v-mid tr">
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/" >HOME</a> 
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/api/headlines" >API</a> 
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/api/saved" >SAVED API</a> 
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/api/unsaved" >UNSAVED API</a> 
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/api/notes" >NOTES API</a>
          <a class="f6 fw4 hover-white no-underline white-70 dib ml2 pv2 ph3 ba" href="https://www.hypebeast.com" > HYPEBEAST</a> 
        </div>
      </nav> 
      <div class="tc-l mt4 mt5-m mt6-l ph3">
        <h2 class="white-90 mb0 lh-title">SCRAPEBEAST</h2>
        <h4 class="white-80  mb4">MUSIC</h4>
        <div id="scrape-buttons">
            <a class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3" id="scrape-btn" href="">SCRAPE NEW ARTICLES</a>
            <span class="dib v-mid ph3 white-70 mb3">OR</span>
            <a class="f6 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" id="saved-btn" href="/saved">VIEW SAVED ARTICLES</a>
        </div>
      </div>
    </div>
  </div> 
</header>