body {
    box-sizing: border-box;
    background: black;
    color: white;
}

header {
    color: white;
    text-align: center;
    min-height: 100vh;
}

nav a:hover {
    text-decoration: none;
}

nav .fw4 {
    letter-spacing: 1px;
    font-size: 12px;
}

h2{
    font-size: 46px;
    letter-spacing: 4px;
}

h4 {
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 0px;
}

/* #mongo-icon {
    width: 100px;
} */

#scrape-buttons {
    margin-top: 50px;
    letter-spacing: 2px;
}

#scrape-buttons a:hover {
    text-decoration: none;
    color: white;
}

.bg-black-80 {
    min-height: 100vh;
}

#drake-banner {
    min-height: 100vh;
}

.scraped-container,
.saved-container {
    margin-top: 20px;
    clear: both;
    overflow: hidden;
}

.scraped-container h3,
.saved-container h3 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
    margin: 40px 0px;
}

.scraped-container h4,
.saved-container h4 {
    letter-spacing: 1px;
    font-size: 24px;
    width: 80%;
    font-weight: 700;

}

.scraped-container a,
.saved-container a {
    color: red;
}

.scraped-container a:hover,
.saved-container a:hover {
    text-decoration: none;
    color: white;
}

.scraped-container img,
.saved-container img {
    width: 450px;
    height: 300px;
    /* float: left; */
    margin-bottom: 40px;
    margin-right: 25px;
}

.scraped-container p,
.saved-container p {
    color: white;
}

#unsave {
    border: 1px solid white;
    color: white;
    margin-top: 85px;
    float: left;
}

#notes {
    margin-top: 85px;
    color: white;
    float: left;
    margin-right: 20px;
}

#notes:focus {
    outline: none;
    text-decoration: none;
}

#notes:hover {
    cursor: pointer;

}


#bookmark-icon {
    /* float: right; */
    font-size: 20px;
    margin-top: 100px;
}

#bookmark-icon:active {
    border: none;
}

.article {
    overflow: hidden;
    clear: both;
}

.article img {
    float: left;
}

.article p {
    color: gray;
    font-size: 18px;
    letter-spacing: 1px;
}

.article a {
    letter-spacing: 1px;
    font-size: 12px;
}

#hypes {
    font-size: 12px;
}



/* ========= MODAL ========== */
#notes-modal {
    color: black;
}

.modal-dialog {
    width: 50%;
}

.modal-content {
    border-radius: 0px;
}

.modal-content textarea {
    margin-top: 20px;
}

#exampleModalLongTitle {
    text-align: center;
}

.modal-title {
    color: black;
}

.note-body {
    color: black;
}

.modal-body {
    border: 1px solid lightgray;
    width: 60%;
    margin: 0 auto;
}

.modal-body p {
    color: black;

}

#delete-note-span {
    float: right;
}

.note-body {
    margin-bottom: 20px;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-content textarea {
    width: 70%;
    float: left;
    margin-left: 50px;
    resize: none;

}

#new-note-btn {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

#new-note-btn:focus {
    outline: none;
}

@media only screen and (max-width: 1555px) {
    .navbar {
        padding-right: 30px;
    }
}

@media only screen and (max-width: 1265px) {

    .modal-content {
        clear: both;
        overflow: auto;
    }
    .modal-header {
        width: 100%;
        display: block;
    }

    .modal-body {
        float: none;
        margin: 0 auto;
        display: block;
    }

    .modal-content textarea {
        float: none;
        margin: 0 auto;
        display: block;
        margin-top: 20px;
    }

    .modal-footer {
        float: none;
        margin: 0 auto;
        display: block;
        
    }
    
    #new-note-btn {
        float: none;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}

@media only screen and (max-width: 1201px) {

    .saved-articles {
        clear: both;
        overflow: auto;
    }
    .saved-articles br {
        display: none;
    } 

    #notes,
    #unsave {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 991px) {

    .article img {
        width: 200px;
        height: 150px;
    }

    .article p{
        display: none;
    }

    .article br {
        display: none;
        margin-top: 0;
    }

    .article h4 {
        margin-bottom: 0;
    }

    .article #bookmark-icon {
        margin-top: 0;
    }

    .saved-articles br {
        display: none;
    } 

    #notes,
    #unsave {
        margin-top: 10px;
    }


}


@media only screen and (max-width: 786px) {
    #notes-modal {
        padding: 50px;
    }
    .modal-content {
        width: 175%;
        display: block;  
        margin: 0 auto;
        text-align: center; 
    }
}

@media only screen and (max-width: 575px) {

    .article {
        clear: both;
        overflow: auto;
    }
    .article img {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .article h4 {
        display: block;
        margin: 0 auto;
    }

    .article p{
        /* text-align: center; */
        margin: 0 auto;
    }

    .article a{
        display: block;
        margin: 0 auto;
        text-align: center;
        /* float: left; */
    }

    .article #bookmark-icon {
        display: block;
        margin-top: 0;
        /* float: right; */
        margin-bottom: 20px;
        /* display: none; */
        margin: 0 auto;
    }

    .article br {
        display: none;
    }

    #scrape-buttons #scrape-btn {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    #scrape-buttons span {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #scrape-buttons #saved-btn {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    #notes,
    #unsave {
        margin: 0 auto;
        display: block;
        float: none;
        width: 50%;
        margin-top: 15px;
    }


    /* .bg-black-80,
    #drake-banner {
        min-height: 250px;
    } */


}